# This file tells the git repository to ignore some files and folders.
# This file is explained at
# http://git-scm.com/book/en/Git-Basics-Recording-Changes-to-the-Repository

# https://github.com/Folds/osmosian/wiki/Git-Commands
# lists common git commands.

# ignore the following:
3040/
cal-3040.zip
documentation/instructions.pdf
sample.exe
sample.zip
source.txt
draft/draft.exe
draft/backtrace*.txt
osmosian.exe
notes.txt

